@model IEnumerable<OnlineBankMVC.Domain.Models.Account>

@{
    ViewData["Title"] = "AccountsByCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Accounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-customerId="@item.CustomerId" asp-route-AccountNumber="@item.AccountNumber">Edit</a> |
                <a asp-action="Details" asp-route-customerId="@item.CustomerId" asp-route-AccountNumber="@item.AccountNumber">Details</a> |
                <a asp-action="Delete" asp-route-customerId="@item.CustomerId" asp-route-AccountNumber="@item.AccountNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
