@model IEnumerable<OnlineBankMVC.Domain.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumberNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumberNavigation.BankName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
